$blue-700: #0c0b12;


$logoColor: #1589e7c0;

$background-header: #0a3641e3;
$background-button: #1a61ed;

$border-bottom: #0c2131;

$link-whatsapp: rgb(13, 221, 13);
$btn-whatsapp: rgba(21, 156, 21, 0.767);
