* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

:focus {
  outline: 0; }

body {
  background-color: #0c0b12;
  color: #ffffff;
  -webkit-font-smoothing: antialiased; }

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffffff; }

#header-navbar {
  height: 50rem;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: cover; }

#container-header {
  max-width: 120rem;
  margin: auto;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between; }
  #container-header h1 {
    width: 20rem; }
    #container-header h1 img {
      width: 100%;
      object-fit: cover; }
  #container-header nav ul {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    list-style: none; }
    #container-header nav ul li a {
      color: #ffffff;
      font-size: 2rem;
      text-decoration: none;
      background-color: transparent;
      padding: 1rem;
      border-radius: 6px;
      transition: all 0.2s ease-in-out; }
      #container-header nav ul li a:hover {
        background-color: #1589e7c0;
        color: white; }

#container-slide {
  max-width: 120rem;
  margin: auto;
  margin-top: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  text-align: center; }
  #container-slide h2 {
    font-size: 4rem;
    color: #ffffff;
    width: 70%; }
  #container-slide p {
    font-size: 1.5rem;
    color: #ffffff;
    width: 50%; }
  #container-slide button {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    margin-top: 2rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer; }
    #container-slide button:active, #container-slide button:hover {
      outline: 0; }
    #container-slide button span {
      background-color: #05062d;
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms; }
    #container-slide button:hover span {
      background: none; }
    @media (min-width: 768px) {
      #container-slide button .button-64 {
        font-size: 24px;
        min-width: 196px; } }

#price {
  height: 50rem;
  background-image: url("../img/background-price.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 13rem; }

#container-price {
  height: 20rem;
  width: 80%;
  margin: auto;
  padding: 0 20rem;
  text-align: center;
  background-image: url("../img/price.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #container-price .price-card h2 {
    font-size: 1rem;
    color: #ffffff; }
  #container-price .price-card h3 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold; }

#howItWorks {
  width: 80%;
  margin: auto; }
  #howItWorks header nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem; }
    #howItWorks header nav ul button {
      font-size: 2rem;
      background-color: transparent;
      color: #ffffff;
      padding: 1rem 2rem;
      transition: 0.2s all ease; }
      #howItWorks header nav ul button.active {
        background-color: #0a3641e3; }

.card-howItWorks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 8rem;
  padding-bottom: 10rem; }
  .card-howItWorks .card-howItWorks-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%; }
    .card-howItWorks .card-howItWorks-container:nth-child(2)::after {
      position: absolute;
      content: "";
      background-image: url("../img/bars-howItWorks.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: -30px;
      left: -100px;
      width: 5px;
      height: 300px; }
    .card-howItWorks .card-howItWorks-container:nth-child(2)::before {
      position: absolute;
      content: "";
      background-image: url("../img/bars-howItWorks.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: -30px;
      right: -100px;
      width: 5px;
      height: 300px; }

#card-howItWorks-one.disabled,
#card-howItWorks-two.disabled {
  display: none; }

#ourMission {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10rem;
  margin-bottom: 10rem; }
  #ourMission::after {
    position: absolute;
    content: "";
    background-image: url("../img/separate.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 2px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%); }
  #ourMission h2 {
    font-size: 3rem;
    margin: 2rem; }
  #ourMission .ourMission-description {
    font-size: 1.5rem;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 4rem; }

#container-ourMission {
  display: flex; }
  #container-ourMission nav {
    position: relative;
    display: flex;
    flex-direction: column; }
    #container-ourMission nav::after {
      position: absolute;
      content: "";
      background-image: url("../img/separate-ourMission-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%; }
    #container-ourMission nav button {
      text-align: left;
      font-size: 1.5rem;
      width: 20rem;
      height: 7.5rem;
      padding: 0 3rem; }
      #container-ourMission nav button.active {
        background-image: linear-gradient(144deg, #111937, #0f2835 50%); }
    #container-ourMission nav #btn-ourMission-one {
      position: relative; }
      #container-ourMission nav #btn-ourMission-one::after {
        position: absolute;
        content: "";
        background-image: url("../img/separete-btn.svg");
        background-repeat: no-repeat;
        background-size: auto;
        top: 2px;
        left: 0;
        width: 100%;
        height: 2px; }
      #container-ourMission nav #btn-ourMission-one::before {
        position: absolute;
        content: "";
        background-image: url("../img/separete-btn.svg");
        background-repeat: no-repeat;
        background-size: auto;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 1; }
    #container-ourMission nav #btn-ourMission-two {
      position: relative; }
      #container-ourMission nav #btn-ourMission-two::before {
        position: absolute;
        content: "";
        background-image: url("../img/separete-btn.svg");
        background-repeat: no-repeat;
        background-size: auto;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 1; }
    #container-ourMission nav #btn-ourMission-three {
      position: relative; }
      #container-ourMission nav #btn-ourMission-three::before {
        position: absolute;
        content: "";
        background-image: url("../img/separete-btn.svg");
        background-repeat: no-repeat;
        background-size: auto;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 1; }
  #container-ourMission .cards-ourMission {
    display: flex; }
    #container-ourMission .cards-ourMission p {
      width: 60%;
      height: 100%;
      padding: 5rem 3rem;
      background-image: linear-gradient(144deg, #111937, #102235 50%); }

#card-ourMission-one,
#card-ourMission-two,
#card-ourMission-three {
  height: 22.5rem; }

#card-ourMission-one.disabled,
#card-ourMission-two.disabled,
#card-ourMission-three.disabled {
  display: none; }

#faq {
  width: 65%;
  margin: auto;
  margin-bottom: 20rem;
  text-align: center; }
  #faq h2 {
    font-size: 3rem;
    margin: 2rem; }
  #faq .description {
    font-size: 1.5rem;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 4rem; }
  #faq details {
    position: relative;
    width: 100%;
    height: 12rem;
    border: 1px solid #0a3641e3;
    text-align: left;
    transition: height 0.2s; }
    #faq details[open] {
      height: 27rem; }
      #faq details[open] summary::before {
        background-image: url("../img/arrow-right.svg"); }
    #faq details::after {
      position: absolute;
      content: "";
      background-image: url("../img/questionIcon.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 5rem;
      height: 5rem;
      left: 30px;
      top: 35px; }
    #faq details summary {
      position: relative;
      margin-left: 10rem;
      margin-top: 4rem;
      list-style: none;
      cursor: pointer;
      font-size: 2rem; }
      #faq details summary::before {
        position: absolute;
        content: "";
        background-image: url("../img/arrow-down.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 3rem;
        height: 3rem;
        right: 30px;
        bottom: 0; }
    #faq details p {
      margin-top: 8rem;
      padding: 1.5rem;
      height: 12rem;
      background-color: #0a3641e3; }

#footer {
  position: relative;
  width: 64%;
  margin: auto;
  margin-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #footer::after {
    position: absolute;
    content: "";
    background-image: url("../img/separate-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -60px;
    left: 0;
    width: 100%;
    height: 2px; }
  #footer .backtotop-button {
    position: absolute;
    content: "";
    background-image: url("../img/arrow-backtotop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 0.2s all ease; }
    #footer .backtotop-button:hover {
      top: -70px;
      border: 1px solid #ffffff; }
  #footer .column-footer figure {
    width: 10rem; }
    #footer .column-footer figure img {
      width: 100%;
      object-fit: cover; }
  #footer .column-footer .description-footer {
    width: 70%;
    margin-top: 2rem; }
  #footer h2 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem; }
  #footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    #footer nav ul li a {
      font-size: 1.25rem; }
  #footer .text-orcamento {
    font-size: 1.25rem; }
  #footer .link-whatsapp {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 1.25rem;
    color: #0ddd0d;
    transition: 0.2s all ease; }
    #footer .link-whatsapp .icon-whatsapp {
      display: none;
      width: 2rem; }
      #footer .link-whatsapp .icon-whatsapp img {
        width: 100%;
        object-fit: cover; }
    #footer .link-whatsapp:hover {
      transform: scale(1.2);
      padding-left: 2.5rem; }
      #footer .link-whatsapp:hover .icon-whatsapp {
        display: block; }
